/.vscode/
/.idea/
/node_modules/
/build/
/dist/
/demo/
/coverage/
.eslintcache
yarn-error.log
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/versions
.pnp.*
*.scss.d.ts
junit.xml
/lib
tsconfig.tsbuildinfo
.env
