/* stylelint-disable color-hex-case */

$grey_1000: #070717;
$grey_800: #101025;
$grey_800: #292940;
$grey_700: #53546E;
$grey_600: #87879B;
$grey_500: #AEAEBC;
$grey_400: #D6D6DF;
$grey_300: #E8E8EF;
$grey_200: #F4F4F8;
$grey_100: #FBFBFC;
$grey_0: #FFF;

$indigo_200: #364FC7;
$indigo_100: #4C6EF5;
$indigo_80: #708BF7;
$indigo_64: #8DA2F9;
$indigo_48: #A9BAFA;
$indigo_24: #D4DCFD;
$indigo_8: #F1F4FE;

$red_80: #66151A;
$red_60: #A3212A;
$red_main: #CC2A35;
$red_40: #E47B83;
$red_20: #FBE9EA;

$asphalt_90: #0C0D10;
$asphalt_80: #181920;
$asphalt_main: #7B819B;
$asphalt_50: #93A7AF;
$asphalt_40: #B0B3C3;
$asphalt_30: #D7D9E1;
$asphalt_20: #E8E8EF;
$asphalt_10: #F4F3F8;

$green_200: #2B8A3E;
$green_100: #40C057;
$green_80: #66CD79;
$green_64: #85D794;
$green_48: #A4E1AF;
$green_24: #D1F0D7;
$green_8: #F0FAF2;

$yellow_200: #E67700;
$yellow_100: #FAB005;
$yellow_80: #FBC037;
$yellow_64: #FCCD5F;
$yellow_48: #FDD987;
$yellow_24: #FEECC3;
$yellow_8: #FFF9EB;
