@import "../../theme";

.base {
  position: relative;
  display: block;
  height: 1.2em;
  overflow: hidden;
  background-color: $background_default;
}

.circular {
  border-radius: 50%;
}

.rectangular {

}

.rounded {
  border-radius: 4px;
}

.pulse {
  animation: animation-pulse 2s ease-in-out 0.5s infinite;
}

@keyframes animation-pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

.wave {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: animation-wave 2s linear 0.5s infinite;
    background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.04), transparent);
    transform: translateX(-100%);
  }
}

@keyframes animation-wave {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(100%);
  }
}
