@import "../../theme";

@mixin _base($color) {
  display: inline-flex;
  background-color: $color;
  border-radius: $border_radius;
  padding: $spacing / 2;
  gap: $spacing / 2;
  width: fit-content;
}

// STANDARD
.standard {
  @include _base($grey_200);
}

// PRIMARY
.primary {
  @include _base($indigo_8);
}

// SECONDARY
.secondary {
  @include _base($secondary_light);
}

//
.disabled {
  pointer-events: none;
  cursor: default;
}

.fullWidth {
  width: 100%;
}
